{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block navbar %}
<h5>(Real Estate Finishing Artisans Association of Nigeria)</h5>
{% endblock navbar%}



{% block hero %}

{% endblock hero %}
{% block featured %}

{% endblock featured %}

{% block about %}
    <hr class="pb-4">
    <div class="container d-flex pt-4  bd-highlight text-center ">
    <div class="container d-flex pt-4 bd-highlight text-center">
    <div class="container d-flex pt-4 bd-highlight text-center">
    <div class="container d-flex pt-4 bd-highlight  text-center">

    </div>
    </div>
    </div>
    </div>

    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>REFAAN</h2>
          <h3>You have signed out of your <span>Account</span></h3>
          <p>You have been successuly logged out.</p>
            <div class="container">
    <a href="{% url 'login' %}" class="btn btn-info" role="button">Login Again</a>
    <a href="{% url 'home' %}" class="btn btn-success" role="button">Go to HomePage</a>

</div>
        </div>
      </div>

    </section>

{% endblock about %}

{% block skills %}

{% endblock skills %}

{% block counter %}

{% endblock counter %}
{% block clients %}

{% endblock clients %}

{% block services %}


          </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>

<div class="container">

</div>




{% endblock services%}

{% block testimonials%}

{% endblock testimonials %}

{% block portfolio %}

{% endblock portfolio %}

{% block team %}

{% endblock team %}

{% block faq %}

{% endblock faq%}

{% block pricing %}

{% endblock pricing %}

{% block contact %}

{% endblock contact %}
