{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block navbar %}
<nav class="nav-menu d-none d-lg-block">
        <ul>

             <li class=""><a href="{% url 'home' %}">Home</a></li>

            <li class="active"><a href="{% url 'register' %}">Register</a>
              <li class=""><a href="{% url 'jobs-home' %}">Members Job Page</a>
            <li class=""><a href="">Terms & Conditions</a>
            <li class=""><a href="{% url 'login' %}">Login</a>
          </li>

        </ul>

      </nav><!-- .nav-menu -->
{% endblock navbar%}


{% block hero %}

{% endblock hero %}
{% block featured %}

{% endblock featured %}

{% block about %}
  <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

<hr class="pb-4">
    <div class="container d-flex pt-4  bd-highlight ">
    <div class="container d-flex pt-4 bd-highlight ">
    <div class="container d-flex pt-4 bd-highlight ">
    <div class="container d-flex pt-4 bd-highlight  ">
        <div><h6>Please read our terms of membership before applying</h6>

      <div class="container">

    <form method="POST">
        {% csrf_token %}
        <!--<fieldset class="form-group">-->
            <legend class="border-bottom mb-4 row justify-content-center">Registration Form</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
        </div>

    </form>


          </div>
    </div>
    </div>
    </div>
    </div>
    </div>


<div class="container pl-5">
    <h6 class="text-muted">
        Already have an account? <a class="ml-2" href="
{% url 'login' %}">Login here</a>
    </h6>
</div>


</section>


{% endblock about %}

{% block skills %}

{% endblock skills %}

{% block counter %}

{% endblock counter %}
{% block clients %}

{% endblock clients %}

{% block services %}

{% endblock services%}

{% block testimonials%}

{% endblock testimonials %}

{% block portfolio %}

{% endblock portfolio %}

{% block team %}

{% endblock team %}

{% block faq %}

{% endblock faq%}

{% block pricing %}

{% endblock pricing %}

{% block contact %}

{% endblock contact %}

{% block footer %}
<hr>

{% endblock footer%}
