{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block navbar %}
<nav class="nav-menu d-none d-lg-block">
        <ul>
            <li><i class="fa fa-fw fa-user"></i> Hello! {{ user.username}}</li>
          <li><a href="{% url 'profile' %}">Dashboard</a></li>
          <li><a href="{% url 'post-create' %}">Create Job Post</a></li>
          <li><a href="{% url 'jobs-home' %}">Members Job</a></li>
           <li><a href="{% url 'member-list' %}">Members Directory</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>

        </ul>

      </nav><!-- .nav-menu -->
{% endblock navbar%}


{% block hero %}

{% endblock hero %}
{% block featured %}

{% endblock featured %}

{% block about %}

{% endblock about %}

{% block skills %}


{% endblock skills %}

{% block counter %}

{% endblock counter %}
{% block clients %}

{% endblock clients %}

{% block services %}

    <hr class="pb-4">
    <div class="container d-flex pt-4  bd-highlight ">
    <div class="container d-flex pt-4 bd-highlight ">
    <div class="container d-flex pt-4 bd-highlight ">
    <div class="container d-flex pt-4 bd-highlight  ">

<!-- post form start here-->
      <div class="container">
         <div class="container d-flex p-2 bd-highlight ">
    <form method="POST">
        {% csrf_token %}
        <!--<fieldset class="form-group">-->
            <legend class="border-bottom mb-4">Job Post</legend>
            {{ form.media }}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>

    </form>

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
<!-- post form ends here-->

{% endblock services%}

{% block testimonials%}

{% endblock testimonials %}

{% block portfolio %}

{% endblock portfolio %}

{% block team %}

{% endblock team %}

{% block faq %}

{% endblock faq%}

{% block pricing %}

{% endblock pricing %}

{% block contact %}

{% endblock contact %}

{% block footer %}
How to navigate the members job
{% endblock footer%}
